
body {
    background-color: #f3f6f4; 
    font-family: 'Courier New', Courier, monospace; 
    color: #544242;
    margin: 15px;
}

.header {
    border: 5px solid white;
    background-color: #d9ead3;
    text-align: center;
    color: #544242;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    margin: 15px 0px;
    padding: 30px;
    font-size: 40px;
}

/*@media only screen and (min-width: 375px) {
    h1 .header .myDiv {
        font-size: 15px;
        color: black;
 }
}*/

.myDiv {
    border: 5px solid white;
    background-color: #d9ead3;
    text-align: center;
    color: #544242;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    margin: 15px 0px;
    padding: 15px;
}

.navbar {
    overflow: hidden;
    background-color: #ea9999;
    border: 5px solid white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

.navbar a:link, 
.navbar a:visited {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, 
.dropdown:hover, 
.dropdown a:visited, 
.dropbtn:hover, 
.dropbtn a:visited,
.dropdown-content
 {
    background-color: white;
    color: black;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    clear: both;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: black;
}

.dropdown:hover .dropbtn {
    color: black;
}

table {
    /*margin: 0px 30px 0px 30px;*/
    width: 80%;
    margin: auto;
}*/

table, th, td {
    border:2px solid #544242;
    color: #544242;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

td {
    font-size: 20px;
}

th {
    font-weight: bold; 
    color: #544242; 
    font-size: 25px;
}

img {
    border: 7px solid white;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a:hover {
    color: black;
}

a:link, a:visited {
    color: #cd5b45;
}
